body{
  font-family: 'Kumbh sans';
  font-size: 16px;
}
.h-div{
  display: inline-flex;
  width:100%;
  height: 30px;
  padding:10px;
  margin:5px -10px;

}
.h-div h3{
  font-size: 23px;
  font-weight: 700;
  margin-top: -7px;
  margin-left: 10px;
}
.h-div--cart{
  opacity:65%;
  position: absolute;
  right: 55px;
  
}
.h-div--bars{
  opacity: 65%;
  width:25px;
  margin-left:10px;
}
.h-div img{
  position: absolute;
  right: 10px;
  top:14px;
  height: 30px;
  width: 30px;
}
.top-nav{
  align-items: center;
  margin-top: -18px;
  margin-left: 20px;
}
.top-nav--wrapper li{
    margin-right: 20px;
    list-style: none;
    display:inline-flex;
    align-items: center;
}
.top-nav--close{
  display: none;
}
@media screen and (max-width:500px){
  .top-nav--wrapper li{
    display: block;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .top-nav{
    position: absolute;
    background-color: white;
    left:-18px ;
    top:0px;
    padding: 20px;
    height: 100%;
    box-shadow: 0 2px 5px gray;
  }
  .top-nav--close{
    display: block;
    margin-top: 10px;
  }
}
